body {
    padding: 0;
    margin: 0;
    font-size: 62.5%;
    background: #200f21;
    font-family: Lato;
    position: relative;
}

header {
    padding: 1rem ;
}

.navigation {
    position: relative;
}

.icon {
    font-size: 1.5rem;
    color: #777;
    cursor: pointer;
    color: white;
    letter-spacing: .5rem;

}

#hamburger {
    float: right;
    position: absolute;
    top: 45%;
    left: 95%;
    cursor: pointer;

}

ul {
    margin-top: -2.5rem;
    margin-right: 4rem;
}

.list-item {
    list-style: none;
    float: right;
    padding-right: 2rem;
    
}

.btn-list {
    text-decoration: none;
    font-size: 1.3rem;
    color: #777;
    cursor: pointer;


}

.list-item:hover {
    transform: scale(1.1) ;
    transition: all 1s ease-in-out;

}

.btn-list:hover {

}

.btn {
  text-align: center;
  position: absolute;
  top: 100%;
  left: 50%;
  margin-top: 20%;
  transform: translate(-50%,-50%);
  padding: 1.5rem 3.5rem;
  border-radius: 5rem;
  font-size: 2rem;
  cursor: pointer;
    letter-spacing: .5rem;


}

.btn:hover {
    background: #9cf196;
    color: #fff;
}